In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]

In [3]:
mycol = mydb["customers"]

In [4]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

5d8a861005aad05ac6366560

In [5]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase']

In [6]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")

The database exists.

In [7]:
print(mydb.list_collection_names())

['customers']

In [8]:
collist = mydb.list_collection_names()
if "customers" in collist:
    print("The collection exists.")

The collection exists.

In [9]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

5d8a861005aad05ac6366561

In [10]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5d8a861005aad05ac6366562'), ObjectId('5d8a861005aad05ac6366563'), ObjectId('5d8a861005aad05ac6366564'), ObjectId('5d8a861005aad05ac6366565'), ObjectId('5d8a861005aad05ac6366566'), ObjectId('5d8a861005aad05ac6366567'), ObjectId('5d8a861005aad05ac6366568'), ObjectId('5d8a861005aad05ac6366569'), ObjectId('5d8a861005aad05ac636656a'), ObjectId('5d8a861005aad05ac636656b'), ObjectId('5d8a861005aad05ac636656c'), ObjectId('5d8a861005aad05ac636656d')]

In [11]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [12]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('5d8a861005aad05ac6366560'), 'name': 'John', 'address': 'Highway 37'}

In [13]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d8a861005aad05ac6366560'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d8a861005aad05ac6366561'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d8a861005aad05ac6366562'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d8a861005aad05ac6366563'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d8a861005aad05ac6366564'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d8a861005aad05ac6366565'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d8a861005aad05ac6366566'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d8a861005aad05ac6366567'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d8a861005aad05ac6366568'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d8a861005aad05ac6366569'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d8a861005aad05ac636656a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d8a861005aad05ac636656b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d8a861005aad05ac636656c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d8a861005aad05ac636656d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [14]:
myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
    print(x)

{'_id': ObjectId('5d8a861005aad05ac6366560'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d8a861005aad05ac6366561'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d8a861005aad05ac6366562'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d8a861005aad05ac6366563'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d8a861005aad05ac6366564'), 'name': 'Michael', 'address': 'Valley 345'}

In [15]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [16]:
for x in mycol.find({},{ "address": 0 }):
    print(x)

{'_id': ObjectId('5d8a861005aad05ac6366560'), 'name': 'John'}
{'_id': ObjectId('5d8a861005aad05ac6366561'), 'name': 'Peter'}
{'_id': ObjectId('5d8a861005aad05ac6366562'), 'name': 'Amy'}
{'_id': ObjectId('5d8a861005aad05ac6366563'), 'name': 'Hannah'}
{'_id': ObjectId('5d8a861005aad05ac6366564'), 'name': 'Michael'}
{'_id': ObjectId('5d8a861005aad05ac6366565'), 'name': 'Sandy'}
{'_id': ObjectId('5d8a861005aad05ac6366566'), 'name': 'Betty'}
{'_id': ObjectId('5d8a861005aad05ac6366567'), 'name': 'Richard'}
{'_id': ObjectId('5d8a861005aad05ac6366568'), 'name': 'Susan'}
{'_id': ObjectId('5d8a861005aad05ac6366569'), 'name': 'Vicky'}
{'_id': ObjectId('5d8a861005aad05ac636656a'), 'name': 'Ben'}
{'_id': ObjectId('5d8a861005aad05ac636656b'), 'name': 'William'}
{'_id': ObjectId('5d8a861005aad05ac636656c'), 'name': 'Chuck'}
{'_id': ObjectId('5d8a861005aad05ac636656d'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [17]:
# Gives Error, can't specify both 0 and 1 values in the same object
#for x in mycol.find({},{ "name": 1, "address": 0 }):
#    print(x)

In [18]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5d8a861005aad05ac636656a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [19]:
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5d8a861005aad05ac6366564'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d8a861005aad05ac6366567'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d8a861005aad05ac6366569'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d8a861005aad05ac636656d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [20]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5d8a861005aad05ac6366567'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d8a861005aad05ac636656d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [21]:
mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('5d8a861005aad05ac6366562'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d8a861005aad05ac636656a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d8a861005aad05ac6366566'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d8a861005aad05ac636656c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d8a861005aad05ac6366563'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d8a861005aad05ac6366560'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d8a861005aad05ac6366564'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d8a861005aad05ac6366561'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d8a861005aad05ac6366567'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d8a861005aad05ac6366565'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d8a861005aad05ac6366568'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d8a861005aad05ac6366569'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d8a861005aad05ac636656d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d8a861005aad05ac636656b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [22]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5d8a861005aad05ac636656b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d8a861005aad05ac636656d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d8a861005aad05ac6366569'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d8a861005aad05ac6366568'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d8a861005aad05ac6366565'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d8a861005aad05ac6366567'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d8a861005aad05ac6366561'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d8a861005aad05ac6366564'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d8a861005aad05ac6366560'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d8a861005aad05ac6366563'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d8a861005aad05ac636656c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d8a861005aad05ac6366566'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d8a861005aad05ac636656a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d8a861005aad05ac6366562'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [23]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d8a861005aad05ac6366560'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d8a861005aad05ac6366561'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d8a861005aad05ac6366562'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d8a861005aad05ac6366563'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d8a861005aad05ac6366564'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5d8a861005aad05ac6366565'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d8a861005aad05ac6366566'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d8a861005aad05ac6366567'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d8a861005aad05ac6366568'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d8a861005aad05ac6366569'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d8a861005aad05ac636656a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d8a861005aad05ac636656b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d8a861005aad05ac636656c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d8a861005aad05ac636656d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [24]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

for x in mycol.find():
    print(x)

4 documents updated.
{'_id': ObjectId('5d8a861005aad05ac6366560'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d8a861005aad05ac6366561'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d8a861005aad05ac6366562'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d8a861005aad05ac6366563'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d8a861005aad05ac6366564'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5d8a861005aad05ac6366565'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d8a861005aad05ac6366566'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d8a861005aad05ac6366567'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('5d8a861005aad05ac6366568'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d8a861005aad05ac6366569'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d8a861005aad05ac636656a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d8a861005aad05ac636656b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d8a861005aad05ac636656c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d8a861005aad05ac636656d'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}

In [25]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [26]:
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [27]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

23  documents deleted.

In [28]:
mycol.drop()